{% extends "base.html" %}

{% block title %}Catálogo{% endblock %}

{% block content %}
<h1>Productos Disponibles</h1>
<div class="row">
    {% for product in products %}
    <div class="col-md-4">
        <div class="card">
            <img src="{{ product.productimg_set.first.img.url }}" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text"><strong>Precio:</strong> {{ product.price }}</p>
                <a href="{% url 'place_order' product.id %}" class="btn btn-primary">Agregar al pedido</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
